.dashboard-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.dashboard-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
  .panel-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 7rem;
  border-radius: 1rem;
  border: solid 1px white;
  transition: background-color 0.3s; 

  &:hover {
    background-color: #dc291e;
    color: white;
    border: none;
}
}

@media (max-width: 768px) {
    
    .dashboard-title{
        font-size: 1rem;
        text-align: center;
        width: 15rem;
    }
    .panel-btn {
        width: 15rem;
        height: 7rem;
}
}