.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #dc291e;
  color: #ffffff;
  font-size: 1.2rem;
  height: 100vh;
  width: 7rem;
  position: fixed;
  top: 0;
  right: 0;
  transition: width 0.3s ease;
}

.sidebar-expanded {
  width: 20vw;
}

.sidebar-menu {
  padding: 20px 0;
}
.logout-icon {
  font-size: 1.2rem;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc291e;
  border: none;
  color: #ffffff;
  font-size: 2rem;
  &:hover {
    background-color: #dc291e;
    color: white;
    border: none;
  }
}

@media (max-width: 768px) {
  .toggle-btn {
    background-color: #dc291e;
    border: none;
    color: #ffffff;
    &:hover {
      background-color: #dc291e;
      color: white;
      border: none;
    }
  }
  .sidebar-container {
    width: 100%;
    height: 7vh;
    font-size: 1.1rem;
  }
  .logout-icon {
    font-size: 1rem;
  }
  .sidebar-expanded {
    width: 100%;
    height: 18rem;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
