


.login-form {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.container{
    display: grid;
    justify-content: center;
}
.img-container{
    display: flex;
    justify-content: center;
}

.logo-img{
    display: flex;
    justify-self: center;
    width: 20vh;
    margin-bottom: 15px;
}

.inputField{
    display: grid;
}