.contact-info {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }
  
  .info-section {
    margin: 1rem;
    width: 25rem;
    height: 10rem;
    border-radius: .5rem;
  }
  
  .whatsapp-section {
    width: 30vw;
    height: 11rem;
    background-color:#000000;
    font-size: 1rem;
    color: #ffffff;
    padding: 1rem;
  }
  
  .location-section {
    width: 30vw;
    height: 11rem;
    background-color:#000000;
    font-size: 1rem;
    color: #ffffff;
    padding: 1rem;
  }
  
  .clock-section {
    width: 30vw;
    height: 11rem;
    background-color:#000000;
    font-size: 1rem;
    color: #ffffff;
    padding: 1rem;
  }
  