.contact-info {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.info-section {
  margin: 1rem;
  width: 25rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.whatsapp-section {
  width: 22vw;
  height: 11rem;
  background-color: rgb(15, 15, 15);
  color: white;
  font-size: 1.2em;
  padding: 1rem;
}

.location-section {
  width: 22vw;
  height: 11rem;
  background-color: rgb(15, 15, 15);
  color: white;
  padding: 1rem;
}

.clock-section {
  width: 22vw;
  height: 11rem;
  background-color: rgb(15, 15, 15);
  color: white;
  padding: 1rem;
}
@media only screen and (max-width: 768px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .location-section {
    width: 18rem;
    height: 10rem;
  }
  .clock-section {
    width: 18rem;
    height: 10rem;
  }
  .whatsapp-section {
    width: 18rem;
    height: 10rem;
  }
}
