.button-component{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc291e;
    color: white;
    border: none;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: .8rem;
    padding: .8rem;
}