.appointment-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    margin-left: 10%;
    margin-right: 10%;
}
.appointment-button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: .9em;
    background-color: #ffffff;
    color:#dc291e;
    border: 1px solid #dc291e;
}
.appointment-label{
    border:2px solid #ffffff;
    width: 3rem;
}
.appointment-input{
    border:none;
    background-color: rgb(241, 243, 246);
    border-bottom: 1px solid #dc291e;
}
.filter-button{
    width: 10rem;
    background-color: #dc291e;
    color: white;
    border: #ffffff;
}
@media (max-width: 768px) {
    .date-instructions{
        justify-content: center;
        margin:0;
        text-align: center;
    }
    .appointment-section{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
    
    }
    .date-filter{
        width: 75%;
    }
    .appointment-input{
        width: 5rem;
        border:none;
        background-color: rgb(241, 243, 246);
        border-bottom: 1px solid #dc291e;
    }
    }
  
