.user-txt{
  width: 90%;
  font-size: .8rem;
}
.user-card-text {
  width: 100%;
}
.card-button {
  display: flex;
  margin-top: 3.5rem ;
  margin-bottom: 3.5rem;
}
.image{
  height: 50%;
}
.card-container {
  width:100%;
  margin-top: 2rem;
}