
.report-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputField input {
  width: 50vw;
  height: 3rem;
  margin-top: 1rem;
  border: none;
  background-color: #faf5f5;
  border-bottom: 2px solid #dc291e;
}
.inputField label {
  margin-top: 1rem;
}
.form-button {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 5rem auto 0;
  margin-bottom: 3rem;
}

.counterButton {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  background-color: #dc291e;
  color: white;
  border: none;
  border-radius: 2px;
  margin-top: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .inputField input {
    width: 80vw;
  }
}

