.acceso-denegado-container {
    text-align: center;
    margin-top: 50px;
    
  }
  
  .acceso-denegado-title {
    font-size: 10em;
    color: #DC291E;
  }
  
  .acceso-denegado-message {
    font-size: 2em;
    color: black;
  }