.selected-slot-hours-admin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
}

.button-admin-hours {
    margin-right: auto;
    margin-left: auto;
}

.slot-hours-button {
    margin: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.slot-hours-button.clicked{
    background-color: #DC291E;
    color: white;
}

@media only screen and (max-width: 800px) {
    .button-admin-hours {
        margin-right: auto;
        margin-left: auto;
    }

    .slot-hours-button {
        margin-right: auto;
        margin-left: auto;
    }
    
    .selected-slot-hours-admin {
        flex-direction: column; /* Cambia a dirección vertical en dispositivos móviles */
    }
}
