.button-admin-hours {
    margin-right: 40rem;
}
.a{
    display: flex;
    justify-content: center;
}
.slot-hours-button.clicked {
    background-color: #DC291E; 
    color: white;
}

.slot-hours-button {
    /* Agrega estilos adicionales según sea necesario para tus botones */
    margin: 5px;
  }

  @media only screen and (max-width: 600px) {
    
    .button-admin-hours{
        margin-right: 7rem;
    }
  }