.navbar-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #dc291e;
}
.logotype-text{
  display: flex;
  font: 1em sans-serif;
  align-items:last baseline;
  width: 7rem;
}
.logotype-img {
  display: flex;
  height: 3.8rem;
}

.ul-container,
.right-container {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.links-container {
  height: 4rem;
  margin-right: 0;
}

.navbar-li {
  text-decoration: none;
  margin-right: 3rem;
  color: white;
  font-size: 1em;
}
.right-container {
  display: flex;
  justify-content: flex-end;
}

.mobile-menu {
  display: none;
}

.mobile-dropdown {
  display: none;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
}
menu-section{
    display: flex;
    justify-content: flex-end;
}
 .navbar-li:hover{
  font-weight: 550;
 }
.menu-section{
  display: flex;
  justify-content: flex-end;
  margin: .7rem;
  width: 98%;
}

@media only screen and (max-width: 768px) {
  .logotype-img {
    display: flex;
    align-items: center;
    height:7vh;
    margin:0;
  }
 
  .logotype-text{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: .9em;
    width: 5rem;
  }
  .navbar-container {
    display: flex;
    height: 4rem;
    align-items: center;
    margin: 0%;
  }
  .links-container {
    display: none;
  }
  .navbar-li {
    align-items: center;
  }
  .navbar-li:hover{
    font-weight: 550;
   }
  .mobile-menu {
    display: block;
  }
  .mobile-menu-button {
    color: white;
    background: none;
    border: none;
    font-size: 2.5em;
    margin-left: 15%;
    cursor: pointer;
  }

  .mobile-dropdown li {
    margin: 1rem;
    display: flex;
    height: 2.5rem;
    border-bottom: 0.5px solid white;
    color: white;
  }
  .mobile-dropdown li:hover {
    font-weight: 600;
    cursor: pointer; 
  }
  .mobile-dropdown {
    display: none;
    margin: 0;
    position: absolute;
    width: 100%;
    right: 0;
    background-color: #dc291e;
  }

  .mobile-dropdown.show {
    display: block;
  }

  .close-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
  }

  .line-horizontal,
  .line-vertical {
    background-color: white;
    height: 3px;
    width: 2rem;
  }

  .mobile-menu-button .line-horizontal {
    transform: rotate(45deg);
  }

  .mobile-menu-button .line-vertical {
    transform: rotate(-45deg);
  }

}
