.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #dc291e;
}

.logotype-img {
  display: flex;
  height: 4rem;
}

.ul-container {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links-container {
  width: 60vw;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.navbar-li {
  text-decoration: none;
  margin-right: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.right-container {
  display: flex;
  justify-content: flex-end;
}

.mobile-menu {
  display: none;
}

.mobile-menu-button {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: none;
  border: none;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.mobile-dropdown {
  display: none;
  list-style: none;
  padding: 0;
}

.mobile-dropdown li {
  margin: 1rem;
  display: flex;
  height: 2rem;
  border-bottom: 0.5px solid white;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.login-icon {
  height: 1.7rem;
}

@media only screen and (max-width: 768px) {
  .logotype-img {
    height: 3rem;
  }

  .navbar-container {
    align-items: center;
  }

  .links-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-dropdown {
    display: none;
    margin: 0;
    position: absolute;
    width: 100%;
    right: 0;
    background-color: #dc291e;
  }

  .mobile-dropdown.show {
    display: block;
  }

  .close-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
  }

  .line-horizontal,
  .line-vertical {
    background-color: white;
    height: 2.5px;
    transition: transform 5s;
  }

  .mobile-menu-button .line-horizontal {
    transform: rotate(45deg);
  }

  .mobile-menu-button .line-vertical {
    transform: rotate(-45deg);
  }
}
