.report-container {
  max-width: 600px; 
  margin: 15vh auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informe-form {
  display: flex;
  flex-direction: column; /* Adjust as needed */
  margin-top: 5vh;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputField input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fbeae8;
  box-shadow: 0 2px 2px #eb8983;
}

.form-button {
display: flex;
align-content: center;
justify-content: center;
}

.adminButton {
  margin-top: .5rem;
  margin-right:.5rem;
  margin-left:.5rem;
  width: 1.8rem;
  height: 1.8rem;
  color: white;
  background-color: #dc291e;
  border: none;
  cursor: pointer;
}



